<div class="row">
    <% @sections.each do |s| %>

    <div class="col-md-4">
      <h2><%= s.name %></h2>
      <ul>
        <% s.lessons.each do |l| %>
          <li><%= link_to l.name, section_lesson_path(s, l) %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
</div>



<br><br>
<%= link_to "New Section", new_chapter_section_path(@chapter) %>
